<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1062200524216-0h8e513krtqnh1sje2qfnuq3lu52jv2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1062200524216-0h8e513krtqnh1sje2qfnuq3lu52jv2v</string>
	<key>API_KEY</key>
	<string>AIzaSyChkp6qFOG65pzY7_W7z7ZCpr7XyjPjfps</string>
	<key>GCM_SENDER_ID</key>
	<string>1062200524216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AsgeY.ElectroLine</string>
	<key>PROJECT_ID</key>
	<string>electroline-41724</string>
	<key>STORAGE_BUCKET</key>
	<string>electroline-41724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062200524216:ios:f70c9cd98281d927</string>
	<key>DATABASE_URL</key>
	<string>https://electroline-41724.firebaseio.com</string>
</dict>
</plist>